body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  max-width: 1700px;
  margin: 0 auto;
  padding: 3rem;
  background: linear-gradient(to left, rgb(236, 228, 228), white, white, white, white, white, white, white, white, rgb(236, 228, 228));
}

html {
  background: linear-gradient(to left, #245, red, #245);
}

/* Seções */
section {
  margin: 40px 0;
  padding: 0 20px 20px 20px;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.03) 5px 5px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #eee;
  padding: 10px;
}

img {
  max-width: 100%;
  box-shadow: 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
}
/* css do button fim */

/* Explicação checkout de presença interface humano computador modulo 2 */
.card {
  width: 700px;
  height: 100%;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  }
  
  .card p {
  font-size: 16px;
  margin-bottom: 20px;
  }
  
  .progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 10px;
  }
  
  .progress-bar-inner {
  width: 0;
  height: 10px;
  background-color: #4CAF50;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
  }
  
  .card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  .card li {
  font-size: 14px;
  margin-bottom: 10px;
  }
  
  .material-container {
  margin-top: 20px;
  }
  
  .material-container h3 {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  .material-container p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
  }
  
  .material-container video {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  }
  
  .next-material {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  }
  
  .next-material:hover {
  background-color: #3e8e41;
  }
  